<select id="{{id}}" class="form-control">
    {{#if addEmpty}}
        <option value="">Please select ...</option>
    {{/if}}

    {{#each options}}
        <option value="{{this}}">{{this}}</option>
    {{/each}}
</select>
