<div id="vs-panels">
    {{> panel_integrate panels.integrate}}
    {{> panel_widgets panels.widgets}}
    {{> panel_orders panels.orders}}
    {{> panel_debug panels.debug}}
    {{> panel_purchase panels.purchase}}
</div>

